In [32]:
import pandas as pd
import numpy as np

In [33]:
df=pd.read_csv('testout51.csv')

In [34]:
time=df['CPU 1 YBLPVDAKDLWAPP1']

In [35]:
swap_space_unused=df['swaptotal_mem'] -df['swapfree_mem']+df['inactive_mem']

RAM_unused=df['memtotal_mem']-(df['memfree_mem']+df['buffers_mem']+df['cached_mem'])

RAM=np.log(swap_space_unused)+np.log(RAM_unused)

In [36]:
sr0=df['sr0_diskbusy']*df['sr0_diskbsize']
sr0=sr0/100

sda=df['sda_diskbusy']*df['sda_diskbsize']
sda=sda/100

sda1=df['sda1_diskbusy']*df['sda1_diskbsize']
sda1=sda1/100

sda2=df['sda2_diskbusy']*df['sda2_diskbsize']
sda2=sda2/100

sdb=df['sdb_diskbusy']*df['sdb_diskbsize']
sdb=sdb/100

sdb1=df['sdb1_diskbusy']*df['sdb1_diskbsize']
sdb1=sdb1/100

sdd=df['sdd_diskbusy']*df['sdd_diskbsize']
sdd=sdd/100

sdd1=df['sdd1_diskbusy']*df['sdd1_diskbsize']
sdd1=sdd1/100

sdc=df['sdc_diskbusy']*df['sdc_diskbsize']
sdc=sdc/100

dm_0=df['dm-0_diskbusy']*df['dm-0_diskbsize']
dm_0=dm_0/100

dm_1=df['dm-1_diskbusy']*df['dm-1_diskbsize']
dm_1=dm_1/100

dm_2=df['dm-2_diskbusy']*df['dm-2_diskbsize']
dm_2=dm_2/100

dm_3=df['dm-3_diskbusy']*df['dm-3_diskbsize']
dm_3=dm_3/100

dm_4=df['dm-4_diskbusy']*df['dm-4_diskbsize']
dm_4=dm_4/100

dm_5=df['dm-5_diskbusy']*df['dm-5_diskbsize']
dm_5=dm_5/100

dm_6=df['dm-6_diskbusy']*df['dm-6_diskbsize']
dm_6=dm_6/100

dm_7=df['dm-7_diskbusy']*df['dm-7_diskbsize']
dm_7=dm_7/100

dm_8=df['dm-8_diskbusy']*df['dm-8_diskbsize']
dm_8=dm_8/100

sd_total=sr0+sda+sda1+sda2+sdb+sdb1+sdd+sdd1+sdc+dm_0+dm_1+dm_2+dm_3+dm_4+dm_4+dm_5+dm_6+dm_7+dm_8

read = (df['sr0_diskread']+df['sda1_diskread']+df['sda1_diskread']
+df['sda2_diskread']+df['sdb_diskread']+df['sdb1_diskread']
        +df['sdd_diskread']+df['sdd1_diskread']+df['sdc_diskread']
        +df['dm-0_diskread']+df['dm-1_diskread']+df['dm-2_diskread']
            +df['dm-3_diskread']+df['dm-4_diskread']+df['dm-5_diskread']
        +df['dm-6_diskread']+df['dm-7_diskread']+df['dm-8_diskread'])

write= (df['sr0_diskwrite']+df['sda1_diskwrite']+df['sda1_diskwrite']
+df['sda2_diskwrite']+df['sdb_diskwrite']+df['sdb1_diskwrite']
        +df['sdd_diskwrite']+df['sdd1_diskwrite']+df['sdc_diskwrite']
        +df['dm-0_diskwrite']+df['dm-1_diskwrite']+df['dm-2_diskwrite']
            +df['dm-3_diskwrite']+df['dm-4_diskwrite']+df['dm-5_diskwrite']
        +df['dm-6_diskwrite']+df['dm-7_diskwrite']+df['dm-8_diskwrite'])

transfer= (df['sr0_diskxfer']+df['sda1_diskxfer']+df['sda1_diskxfer']
+df['sda2_diskxfer']+df['sdb_diskxfer']+df['sdb1_diskxfer']
        +df['sdd_diskxfer']+df['sdd1_diskxfer']+df['sdc_diskxfer']
        +df['dm-0_diskxfer']+df['dm-1_diskxfer']+df['dm-2_diskxfer']
            +df['dm-3_diskxfer']+df['dm-4_diskxfer']+df['dm-5_diskxfer']
        +df['dm-6_diskxfer']+df['dm-7_diskxfer']+df['dm-8_diskxfer'])

disk=(read+write)/transfer

netpacket=df['eth1-read-KB/s_net']+df['eth1-read/s_netpacket']+df['eth1-write-KB/s_net']+df['eth1-write/s_netpacket']

In [37]:
df.drop(['Idle%_CPU1','Idle%_CPU2','Idle%_CPU3','Idle%_CPU4','Idle%_CPU5'],axis=1,inplace=True)

df.drop(['Idle%_CPU6','Idle%_CPU7','Idle%_CPU8','Idle%_CPU9','Idle%_CPU10','Idle%_CPU11','Idle%_CPU12','Idle%_CPU13'],axis=1,inplace=True)

df.drop(['Idle%_CPU14','Idle%_CPU15','Idle%_CPU16','Idle%_CPU17'],axis=1,inplace=True)

In [38]:
Cpu=np.log(np.sum(df.iloc[:,1:52],axis=1))
CPU=pd.DataFrame({'cpu':Cpu})

In [39]:
DISK=pd.DataFrame({'disk':disk})

NETPACKET=pd.DataFrame({'netpacket':netpacket})

RAM=pd.DataFrame({'RAM':RAM})

df=pd.concat([CPU,DISK,NETPACKET,RAM],axis=1)

In [40]:
class_label = pd.DataFrame(df.iloc[:,-1])
class_label.columns = ['label']
df = df.iloc[:, :-1]
df.head(n=10)
df = df.sub(df.mean(axis=0), axis=1)
df.head()
df_mat = np.asmatrix(df)
sigma = np.cov(df_mat.T)
eigVals, eigVec = np.linalg.eig(sigma)
sorted_index = eigVals.argsort()[::-1] 
eigVals = eigVals[sorted_index]
eigVec = eigVec[:,sorted_index]
eigVec = eigVec[:,:1]
transformed = df_mat.dot(eigVec)
#horizontally stack transformed data set with class label.
final_df = np.hstack((transformed, class_label))
#convert the numpy array to data frame
final_df = pd.DataFrame(final_df)
#define the column names
final_df.columns = ['x','label']

In [41]:
final_df.drop(['label'],axis=1,inplace=True)
x=final_df['x']
features=pd.concat([time,x],axis=1)
features.head()

  CPU 1 YBLPVDAKDLWAPP1           x
0   2019-01-05 00:00:02 -110.062587
1   2019-01-05 00:10:02  -34.155904
2   2019-01-05 00:20:02 -204.572585
3   2019-01-05 00:30:02 -239.972874
4   2019-01-05 00:40:02 -239.472261

In [42]:
features.to_csv('final_df_51.csv')

In [43]:
features.index=features['CPU 1 YBLPVDAKDLWAPP1']

In [44]:
features.drop(['CPU 1 YBLPVDAKDLWAPP1'],axis=1,inplace=True)

In [45]:
features

                                x
CPU 1 YBLPVDAKDLWAPP1
2019-01-05 00:00:02   -110.062587
2019-01-05 00:10:02    -34.155904
2019-01-05 00:20:02   -204.572585
2019-01-05 00:30:02   -239.972874
2019-01-05 00:40:02   -239.472261
2019-01-05 00:50:02   -250.073211
2019-01-05 01:00:02   -285.074064
2019-01-05 01:10:02   -251.673100
2019-01-05 01:20:02   -304.073700
2019-01-05 01:30:02   -307.072931
2019-01-05 01:40:02   -313.274211
2019-01-05 01:50:02   -325.374580
2019-01-05 02:00:02   -343.056538
2019-01-05 02:10:02   -322.273361
2019-01-05 02:20:03   -313.773730
2019-01-05 02:30:03   -313.073861
2019-01-05 02:40:03   -312.773896
2019-01-05 02:50:03   -325.174659
2019-01-05 03:00:03   -325.774402
2019-01-05 03:10:03   -344.660480
2019-01-05 03:20:03   -346.972969
2019-01-05 03:30:03   -350.975735
2019-01-05 03:40:03   -353.169283
2019-01-05 03:50:03   -366.676752
2019-01-05 04:00:03   -354.974674
2019-01-05 04:10:03     34.940220
2019-01-05 04:20:03     67.840590
2019-01-05 04:30:03     93.740495
2019-01-05 04:40:03    -52.760150
2019-01-05 04:50:03   -352.275912
...                           ...
2019-01-05 19:00:07    -10.469576
2019-01-05 19:10:07     31.130595
2019-01-05 19:20:07     33.530387
2019-01-05 19:30:07     50.230404
2019-01-05 19:40:07    140.731012
2019-01-05 19:50:07    135.731429
2019-01-05 20:00:07    -14.269837
2019-01-05 20:10:08    -35.470472
2019-01-05 20:20:08    -78.770727
2019-01-05 20:30:08    -53.869927
2019-01-05 20:40:08    -23.370861
2019-01-05 20:50:08    -52.070151
2019-01-05 21:00:08   -120.970853
2019-01-05 21:10:08   -109.970730
2019-01-05 21:20:08   -103.270634
2019-01-05 21:30:08   -125.170295
2019-01-05 21:40:08    -89.570627
2019-01-05 21:50:08    -72.870164
2019-01-05 22:00:08   -137.070912
2019-01-05 22:10:08   -114.070902
2019-01-05 22:20:08    -77.770231
2019-01-05 22:30:08   -128.570614
2019-01-05 22:40:08   -139.370864
2019-01-05 22:50:08   -172.571366
2019-01-05 23:00:08   -175.272016
2019-01-05 23:10:08   -157.371806
2019-01-05 23:20:08    -89.770099
2019-01-05 23:30:09   -175.769353
2019-01-05 23:40:09   -194.768983
2019-01-05 23:50:09   -186.269480

[144 rows x 1 columns]